h2,
h3,
h1
    {
    color:  rgb(255, 255, 255);
}
.big-text {  /* Targets paragraph elements */
    text-decoration: underline;
  }

h1{
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  body {
    padding: 0 50px;
  }



/*Petit effet fondu*/

  .fade-in {
    opacity: 0;
    animation: fadeIn ease 2s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0%   { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.demo-border {
  border : 2px dotted
}
.fond {
  padding: 40px;
  background-color:rgba(95, 147, 171, 0.7) ;
  }

body {
  padding: 0 200px;/* marge */
}
h4 {
  color: rgb(0, 0, 0) ;
}